@model EgelTraining.Domain.Entities.Examan

<div class="well">
    <p>
        <h4>
            <strong>@Model.Nombre</strong>
        </h4>
        <h5>
            <span class="pull-left label label-primary">@Model.Descripcion</span>
        </h5>
    </p>
    @*<span class="lead">@e.FechaDeCreacion.ToShortDateString()</span>*@

</div>